<!--
  Change "StreamerBotPath" to your current Streamer Bot install location
  run:
    Copy-Item StreamerBot.csproj.user.template StreamerBot.csproj.userCopy-Item StreamerBot.csproj.user.template StreamerBot.csproj.user
-->
<Project>
  <PropertyGroup>
    <StreamerBotPath>d:\Streamer Bot</StreamerBotPath>
  </PropertyGroup>
</Project>
